.carrosel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: .5em 0;
}

.descricao__texto {
    font-size: 14px;
}

.botoes__item {
    margin: 0 .5em;
}

.botoes__ancora {
    background-color: var(--laranja);
    padding: 1em 2.27em;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}

.descricao {
    padding: 0 1em 0 0;
}

.descricao__estrelas {
    margin: 0 0 .5em 0;
}

@media screen and (min-width: 1024px) {
    .carrosel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 2em 0;
    }

    .swiper {
        width: 70%;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%;
        margin: 2.5em auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 150%;
    }

    .card {
        width: 140%;
        margin-left: 6em;
    }

    .descricao__titulo {
        font-size: 29px;
        margin-bottom: .7em;
    }

    .descricao__texto {
        font-size: 16px;
    }
}